<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Momogogo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="has-bg-img">
    <div class="container has-shade">

      <!-- <div class="hero m-3">
        <nav class="level">

        </nav>
      </div> -->


      <!-- Header only when logged in -->
      <%= if Pow.Plug.current_user(@conn) do %>
        <nav class="navbar has-shade-revo">
          <div class="navbar-brand">
            <figure class="image is-64x64">
              <%= link to: Routes.dashboard_path(@conn, :index) do %>
                <img src="<%= Routes.static_path(@conn, "/images/momogogo_logo.png") %>" alt="Momogogo Logo">
              <% end %>
            </figure>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu is-size-4">
            <div class="navbar-start">
              <div class="navbar-item">
                <%= link to: Routes.dashboard_path(@conn, :index) do %>
                  Dashboard
                <% end %>
              </div>
              <div class="navbar-item">
                <%= link to: Routes.post_index_path(@conn, :index) do %>
                  Activity
                <% end %>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-item">
                  <%= Momogogo.Helper.email_or_name(@current_user.email, @current_user.name) %>
                </div>
                <div class="navbar-dropdown is-boxed">
                  <div class="navbar-item">
                    <%= link to: Routes.pow_registration_path(@conn, :edit) do %>
                      User Settings
                    <% end %>
                  </div>
                  <div class="navbar-item">
                    <%= link to: Routes.preferences_edit_path(@conn, :edit) do %>
                      Preferences
                    <% end %>
                  </div>
                  <hr class="navbar-divider">
                  <div class="navbar-item">
                    <%= link to: Routes.pow_session_path(@conn, :delete), method: :delete do %>
                      Sign Out
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <div class="button is-disabled">
                      <span>
                        Chat
                      </span>
                    </div>
                  </p>
                </div>
              </div>
            </div> -->
          </div>
        </nav>
      <% end %>
      <%= @inner_content %>
    </div> <!-- container -->
  </body>
</html>
