<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Momogogo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="has-bg-img">
    <div class="container has-shade">

      <!-- Header only when logged in -->
      <%= if Pow.Plug.current_user(@conn) do %>
        <div class="hero m-3">
          <!-- Main container -->
          <nav class="level">

            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <figure class="image is-128x128">
                  <a href="/dashboard">
                    <img src="<%= Routes.static_path(@conn, "/images/momogogo_logo.png") %>" alt="Momogogo Logo">
                  </a>
                </figure>
              </div>
              <div class="is-size-3 level-item">
                <%= Momogogo.Helper.email_or_name(@current_user.email, @current_user.name) %>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
              <div class="level-item">

                <div class="is-size-3 level-item">
                  <%= link to: Routes.dashboard_path(@conn, :index) do %>
                    <i class="fas fa-chart-line"></i>
                  <% end %>
                </div>
                <div class="is-size-3 level-item">
                  <%= link to: Routes.post_index_path(@conn, :index) do %>
                    <i class="fas fa-calendar-alt"></i>
                  <% end %>
                </div>
                <div class="is-size-3 level-item">
                  <%= link to: Routes.pow_registration_path(@conn, :edit) do %>
                    <i class="fas fa-user"></i>
                  <% end %>
                </div>
                <div class="is-size-3 level-item">
                  <%= link to: Routes.preferences_show_path(@conn, :edit, Momogogo.Timeline.get_preferences_id_for_user(@current_user.id)) do %>
                    <i class="fas fa-cog"></i>
                  <% end %>
                </div>
                <div class="is-size-3 level-item">
                  <%= link to: Routes.pow_session_path(@conn, :delete), method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i>
                  <% end %>
                </div>

              </div>
            </div><!-- level-right -->

          </nav>
        </div>
      <% end %>
      <%= @inner_content %>
    </div> <!-- container -->
  </body>
</html>
